html,
body {
  display: grid;
  height: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background-color: black;
}

.nome {
  color: white;
  text-align: center;
  font-size: 35px;
}

.contato {
  color: white;
  text-align: center;
}

.nomeCertificado {
  color: white;
  font-size: 30px;
  margin-right: 20px;
  margin-top: 18px;
}

table th,
td {
  border: 2px solid white;
  padding: 15px;

}

table {
  border-collapse: collapse;
}

.botao {
  margin-top: 40px;
}

.cdt{
  background-color: #ffffff;  
  padding: 20px;
  margin-bottom: 300px;
  margin-right: 100px;
  margin-left: 100px;
  
}

/*Botões Socias*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;  
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;  
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);  
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);   
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;  
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1); 
}

.wrapper .download:hover,
.wrapper .download:hover .tooltip,
.wrapper .download:hover .tooltip::before {
  background-color: #40bd27;
  color: #ffffff;
}

.wrapper .linkedIn:hover,
.wrapper .linkedIn:hover .tooltip,
.wrapper .linkedIn:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: gray;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/*Botões Centrais*/

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  background: white;
  border: 2px solid gray;
  box-shadow: 5px 5px 0 gray,
    -5px -5px 0 gray,
    -5px 5px 0 gray,
    5px -5px 0 gray;
  transition: 500ms ease-in-out;
}

button:hover {
  box-shadow: 20px 5px 0 gray, -20px -5px 0 gray;
}

button:focus {
  outline: none;
}